Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
nltk>=3.4.5
seaborn
wordcloud
string>=1.2.0
pickle>=2.0.0
absl-py==0.9.0
alabaster==0.7.12
alembic==0.9.3.dev0
altair==4.1.0
aplus==0.11.0
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
astropy==4.0.1.post1
attrs==19.3.0
Babel==2.4.0
base58==2.0.1
beautifulsoup4==4.6.0
bleach==1.5.0
blinker==1.4
bokeh==2.0.2
boto3==1.13.22
botocore==1.16.22
bqplot==0.12.12
branca==0.3.1
Brlapi==0.6.6
cachetools==4.1.0
category-encoders==2.2.2
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cliff==2.11.0
cloudpickle==1.4.1
cmd2==0.7.9
cmdstanpy==0.4.0
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
confuse==1.1.0
contextvars==2.4
convertdate==2.2.1
cryptography==2.9.2
ctop==1.0.0
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.19
dask==2.17.2
debocker==0.2.1
debtcollector==1.13.0
decorator==4.4.2
defer==1.0.6
deprecation==1.0.1
dill==0.3.1.1
distlib==0.3.0
distributed==2.17.0
distro-info===0.18ubuntu0.18.04.1
docker==2.5.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docutils==0.14
dogpile.cache==0.6.2
entrypoints==0.2.3.post1
enum-compat==0.0.3
enum34==1.1.10
ephem==3.7.7.1
fastjsonschema==2.14.4
filelock==3.0.12
Flask==1.1.2
fsspec==0.7.4
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
HeapDict==1.0.1
holidays==0.10.2
html5lib==0.9999999
htmlmin==0.1.12
httplib2==0.9.2
idna==2.9
ImageHash==4.1.0
imagesize==1.2.0
immutables==0.14
importlib-metadata==1.6.1
importlib-resources==1.5.0
ipydatawidgets==4.0.1
ipykernel==5.3.0
ipyleaflet==0.13.0
ipympl==0.5.6
ipython==5.5.0
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.3.2
ipyvuetify==1.4.0
ipywebrtc==0.5.0
ipywidgets==7.5.1
iso8601==0.1.11
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.3
joblib==0.15.1
json5==0.9.5
jsonpatch==1.16
jsonpointer==1.10
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==5.2.0
jupyter-core==4.6.3
jupyterlab==2.0.0
jupyterlab-server==1.0.9
kazam==1.4.5
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keystoneauth1==3.4.0
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
lab==6.0
language-selector==0.1
lightgbm==2.3.1
llvmlite==0.32.1
locket==0.2.0
louis==3.5.0
LunarCalendar==0.0.9
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.2.2
MarkupSafe==1.0
marshmallow==3.6.1
marshmallow-polyfield==5.9
matplotlib==3.2.1
missingno==0.4.2
mistune==0.8.3
monotonic==1.0
mpmath==1.1.0
msgpack==1.0.0
munch==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
nemo-emblems==4.4.0
nest-asyncio==1.3.3
netaddr==0.7.19
netifaces==0.10.4
networkx==2.4
notebook==6.0.3
ntlm-auth==1.4.0
numba==0.49.1
numpy==1.18.5
oauthlib==2.0.6
onboard==1.4.1
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
openscap-daemon==0.1.8
openstacksdk==0.11.3
os-client-config==1.29.0
os-service-types==1.1.0
osc-lib==1.9.0
oslo.config==5.2.0
oslo.context==2.20.0
oslo.i18n==3.19.0
oslo.log==3.36.0
oslo.serialization==2.24.0
oslo.utils==3.35.0
packaging==20.4
PAM==0.4.2
pandas==1.0.3
pandas-profiling==2.8.0
pandocfilters==1.4.2
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pbr==3.1.1
pexpect==4.2.1
phik==0.10.0
pickleshare==0.7.4
Pillow==7.1.2
ply==3.11
prettytable==0.7.2
progressbar2==3.51.3
prometheus-client==0.8.0
prompt-toolkit==1.0.15
protobuf==3.12.2
psutil==5.4.2
ptyprocess==0.6.0
pyarrow==0.17.1
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pydeck==0.4.0b2
Pygments==2.2.0
pygobject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
PyJWT==1.5.3
pymacaroons==0.13.0
PyMeeus==0.3.7
PyNaCl==1.1.2
pyparsing==2.2.0
pyparted==3.11.1
pyperclip==1.6.0
pyRFC3339==1.0
pyrsistent==0.16.0
pystan==2.19.1.1
pytesseract==0.3.4
python-apt==1.6.5+ubuntu0.3
python-constraint==1.4.0
python-dateutil==2.8.1
python-debian==0.1.32
python-magnumclient==2.8.0
python-utils==2.4.0
python-xapp==1.8.1
python-xlib==0.20
pythreejs==2.2.0
pytz==2018.3
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==3.12
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
reportlab==3.4.0
requests==2.23.0
requests-ntlm==1.1.0
requests-unixsocket==0.1.5
requestsexceptions==1.3.0
retworkx==0.3.4
rfc3986==0.3.1
roman==2.0.0
s3fs==0.2.2
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
sen==0.6.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
setproctitle==1.1.10
setuptools-git==1.2
simplegeneric==0.8.1
simplejson==3.13.2
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.1.11
statsmodels==0.11.1
stevedore==1.28.0
streamlit==0.61.0
subuser==0.6.1
sweetviz==1.0a4
sympy==1.6
system-service==0.3
systemd-python==234
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tblib==1.6.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-hub==0.8.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.3.1
threadpoolctl==2.0.0
tinycss==0.4
toml==0.10.1
toolz==0.10.0
tornado==5.1.1
tqdm==4.46.0
traitlets==4.3.2
traittypes==0.2.1
txt2tags==3.7
typing-extensions==3.7.4.2
tzlocal==2.1
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.9
urwid==2.0.1
urwidtrees==1.0.1.1
vaex==3.0.0
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.2
vaex-hdf5==0.6.0
vaex-jupyter==0.5.1
vaex-ml==0.9.0
vaex-server==0.3.1
vaex-viz==0.4.0
validators==0.15.0
vboxapi==1.0
virtualenv==20.0.24
visions==0.4.4
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.44.0
websockets==7.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.9.0
xgboost==1.1.1
xkit==0.0.0
xlrd==1.2.0
zict==2.0.0
zipp==3.1.0
